In [1]:
import pandas as pd

In [2]:
## Reading csv file to dataframe

In [3]:
lib_df = pd.read_csv("libraries.csv")

In [4]:
lib_df

,LAT,LONG,Suburb/Town,Address,Phone
0,-37.189614,145.708191,Alexandra,Grant Street Alexandra 3714,5772 0349
1,-37.869153,144.829072,Altona,123 Queen Street Altona 3018,9932 1330
2,-37.873862,144.772680,Altona Meadows,2 Newham Way Altona Meadows 3025,9932 3020
3,-37.289100,142.910940,Ararat,Barkly Street Ararat 3377,5352 1722
4,-37.774022,144.915566,Ascot Vale,165 Union Road Ascot Vale 3032,8325 1990
...,...,...,...,...,...
257,-37.782293,145.611898,Yarra Junction,Hoddle Street Yarra Junction 3797,5967 1588
258,-38.564409,146.674540,Yarram,156 Grant Street Yarram 3971,03 5182 5135
259,-37.820448,144.873646,Yarraville,32 Wembley Avenue Yarraville 3013,9688 0294
260,-36.010829,146.004739,Yarrawonga,Belmore Street Yarrawonga Public Library 3730,5744 1380
261,-37.213421,145.421917,Yea,Semi-circle Yea 3717,5797 2209

In [5]:
sub_name_list = lib_df['Suburb/Town'].tolist()

In [6]:
sub_name_list

['Alexandra',
 'Altona',
 'Altona Meadows',
 'Ararat',
 'Ascot Vale',
 'Ashburton',
 'Avoca',
 'Bacchus Marsh',
 'Bairnsdale',
 'Ballarat',
 'Balwyn',
 'Barham',
 'Barwon Heads',
 'Beaufort',
 'Beaumaris',
 'Beechworth',
 'Belgrave',
 'Belmont',
 'Benalla',
 'Bendigo',
 'Bentleigh',
 'Birchip',
 'Blackburn',
 'Boronia',
 'Box Hill',
 'Bright',
 'Brighton',
 'Broadford',
 'Brunswick',
 'Bulleen',
 'Camberwell',
 'Campbell ',
 'Camperdown',
 'Carlton',
 'Carnegie',
 'Carrum Downs',
 'Casterton',
 'Castlemaine',
 'Caulfield',
 'Chelsea',
 'Cheltenham',
 'Chiltern',
 'Chilwell',
 'Churchill',
 'Cinemedia',
 'City ',
 'Clarinda',
 'Clayton',
 'Clunes',
 'Cobden',
 'Cobram',
 'Coburg',
 'Cohuna',
 'Colac',
 'Colbinabbin',
 'Collingwood',
 'Corio',
 'Corowa',
 'Corryong',
 'Craigieburn',
 'Cranbourne',
 'Creswick',
 'Croydon',
 'Dandenong',
 'Daylesford',
 'Deer Park',
 'Derrinallum',
 'Diamond Valley',
 'Dimboola',
 'Dingley',
 'Doveton',
 'Drouin',
 'Drysdale',
 'Eaglehawk',
 'East Keilor',
 'East Melbourne',
 'Echuca',
 'Edenhope',
 'Elsternwick',
 'Eltham',
 'Emerald',
 'Emerald Hill',
 'Endeavour Hills',
 'Euroa ',
 'Fairfield',
 'Fawkner',
 'Ferntree Gully',
 'Fitzroy',
 'Flemington',
 'Footscray',
 'Footscray West',
 'Foster',
 'Frankston',
 'Geelong',
 'Geelong West',
 'Girgarre',
 'Gisborne',
 'Gladstone Park',
 'Glenroy',
 'Glen Waverley',
 'Goroke',
 'Grovedale',
 'Gunbower',
 'Hamilton',
 'Hampton',
 'Hampton Park',
 'Harrow',
 'Hastings',
 'Hawthorn',
 'Healesville',
 'Heathcote',
 'Heyfield',
 'Heywood',
 'Highett',
 'Highpoint ',
 'Highton',
 'Holbrook',
 'Horsham',
 'Inverloch',
 'Irymple',
 'Ivanhoe',
 'Kangaroo Flat',
 'Kaniva',
 'Keilor',
 'Kerang',
 'Kew',
 'Kilmore',
 'Kinglake',
 'Knox',
 'Koroit',
 'Korumburra',
 'Kyabram',
 'Kyneton',
 'Lakes Entrance',
 'Lalor',
 'Langwarrin Shop',
 'Lavington',
 'Leitchville',
 'Leongatha',
 'Lilydale',
 'Lockington',
 'Maffra',
 'Mallacoota',
 'Malvern',
 'Manningham',
 'Mansfield',
 'Maryborough',
 'Melton',
 'Merbein',
 'Middle Park',
 'Mildura',
 'Mill Park',
 'Mirboo North',
 'Moe',
 'Montrose',
 'Moonee Ponds',
 'Moorabbin',
 'Mooroolbark',
 'Mooroopna',
 'Mornington',
 'Mortlake',
 'Morwell',
 'Mount Evelyn',
 'Mount Waverley',
 'Mt Beauty',
 'Myrtleford',
 'Narre Warren',
 'Nathalia',
 'Neerim South',
 'Newcomb',
 'Newport',
 'Newtown',
 'Nhill',
 'Niddrie',
 'Noojee',
 'Northcote',
 'North Fitzroy',
 'North Melbourne',
 'Numurkah',
 'Nunawading',
 'Oakleigh',
 'Ocean Grove',
 'Omeo',
 'Orbost',
 'Pakenham',
 'Parkdale',
 'Paynesville',
 'Phillip Island',
 'Phoenix Park',
 'Poowong',
 'Port Fairy',
 'Portland',
 'Port Melbourne',
 'Prahran',
 'Preston',
 'Pyramid Hill ',
 'Queenscliff',
 'Red Cliffs',
 'Reservoir',
 'Richmond',
 'Ringwood',
 'Rochester',
 'Rosanna',
 'Rosebud',
 'Rosedale',
 'Rowville',
 'Rushworth',
 'Rutherglen',
 'RVIB',
 'Sale',
 'Sandringham',
 'Seaford Shop',
 'Sebastopol',
 'Seymour',
 'Shepparton',
 'Somerville',
 'South Oakleigh',
 'Springvale',
 'St Albans',
 'Stanhope',
 'St Arnaud',
 'State',
 'Stawell',
 'St Kilda',
 'Stockland ',
 'Stratford',
 'Sunbury',
 'Sunshine',
 'Swan Hill',
 'Tallangatta',
 'Tatura',
 'Terang',
 'Broadmeadows',
 'The Pines',
 'Thomastown',
 'Timboon',
 'Tongala',
 'South Yarra',
 'Torquay',
 'Traralgon',
 'Tullamarine',
 'Vermont South',
 'Violet Town',
 'Vision Australia',
 'Wallan',
 'Wangaratta',
 'Warracknabeal',
 'Warragul',
 'Warrnambool',
 'Watsonia',
 'Werribee',
 'Werribee CBD',
 'Wheelers Hill',
 'Williamstown',
 'Wodonga',
 'Wonthaggi',
 'Woodend',
 'Yarra Junction',
 'Yarram',
 'Yarraville',
 'Yarrawonga',
 'Yea']

In [7]:
lib_name_list = []

In [8]:
for each in sub_name_list:
    x = each + ' Library'
    lib_name_list.append(x)

In [9]:
lib_name_list

['Alexandra Library',
 'Altona Library',
 'Altona Meadows Library',
 'Ararat Library',
 'Ascot Vale Library',
 'Ashburton Library',
 'Avoca Library',
 'Bacchus Marsh Library',
 'Bairnsdale Library',
 'Ballarat Library',
 'Balwyn Library',
 'Barham Library',
 'Barwon Heads Library',
 'Beaufort Library',
 'Beaumaris Library',
 'Beechworth Library',
 'Belgrave Library',
 'Belmont Library',
 'Benalla Library',
 'Bendigo Library',
 'Bentleigh Library',
 'Birchip Library',
 'Blackburn Library',
 'Boronia Library',
 'Box Hill Library',
 'Bright Library',
 'Brighton Library',
 'Broadford Library',
 'Brunswick Library',
 'Bulleen Library',
 'Camberwell Library',
 'Campbell  Library',
 'Camperdown Library',
 'Carlton Library',
 'Carnegie Library',
 'Carrum Downs Library',
 'Casterton Library',
 'Castlemaine Library',
 'Caulfield Library',
 'Chelsea Library',
 'Cheltenham Library',
 'Chiltern Library',
 'Chilwell Library',
 'Churchill Library',
 'Cinemedia Library',
 'City  Library',
 'Clarinda Library',
 'Clayton Library',
 'Clunes Library',
 'Cobden Library',
 'Cobram Library',
 'Coburg Library',
 'Cohuna Library',
 'Colac Library',
 'Colbinabbin Library',
 'Collingwood Library',
 'Corio Library',
 'Corowa Library',
 'Corryong Library',
 'Craigieburn Library',
 'Cranbourne Library',
 'Creswick Library',
 'Croydon Library',
 'Dandenong Library',
 'Daylesford Library',
 'Deer Park Library',
 'Derrinallum Library',
 'Diamond Valley Library',
 'Dimboola Library',
 'Dingley Library',
 'Doveton Library',
 'Drouin Library',
 'Drysdale Library',
 'Eaglehawk Library',
 'East Keilor Library',
 'East Melbourne Library',
 'Echuca Library',
 'Edenhope Library',
 'Elsternwick Library',
 'Eltham Library',
 'Emerald Library',
 'Emerald Hill Library',
 'Endeavour Hills Library',
 'Euroa  Library',
 'Fairfield Library',
 'Fawkner Library',
 'Ferntree Gully Library',
 'Fitzroy Library',
 'Flemington Library',
 'Footscray Library',
 'Footscray West Library',
 'Foster Library',
 'Frankston Library',
 'Geelong Library',
 'Geelong West Library',
 'Girgarre Library',
 'Gisborne Library',
 'Gladstone Park Library',
 'Glenroy Library',
 'Glen Waverley Library',
 'Goroke Library',
 'Grovedale Library',
 'Gunbower Library',
 'Hamilton Library',
 'Hampton Library',
 'Hampton Park Library',
 'Harrow Library',
 'Hastings Library',
 'Hawthorn Library',
 'Healesville Library',
 'Heathcote Library',
 'Heyfield Library',
 'Heywood Library',
 'Highett Library',
 'Highpoint  Library',
 'Highton Library',
 'Holbrook Library',
 'Horsham Library',
 'Inverloch Library',
 'Irymple Library',
 'Ivanhoe Library',
 'Kangaroo Flat Library',
 'Kaniva Library',
 'Keilor Library',
 'Kerang Library',
 'Kew Library',
 'Kilmore Library',
 'Kinglake Library',
 'Knox Library',
 'Koroit Library',
 'Korumburra Library',
 'Kyabram Library',
 'Kyneton Library',
 'Lakes Entrance Library',
 'Lalor Library',
 'Langwarrin Shop Library',
 'Lavington Library',
 'Leitchville Library',
 'Leongatha Library',
 'Lilydale Library',
 'Lockington Library',
 'Maffra Library',
 'Mallacoota Library',
 'Malvern Library',
 'Manningham Library',
 'Mansfield Library',
 'Maryborough Library',
 'Melton Library',
 'Merbein Library',
 'Middle Park Library',
 'Mildura Library',
 'Mill Park Library',
 'Mirboo North Library',
 'Moe Library',
 'Montrose Library',
 'Moonee Ponds Library',
 'Moorabbin Library',
 'Mooroolbark Library',
 'Mooroopna Library',
 'Mornington Library',
 'Mortlake Library',
 'Morwell Library',
 'Mount Evelyn Library',
 'Mount Waverley Library',
 'Mt Beauty Library',
 'Myrtleford Library',
 'Narre Warren Library',
 'Nathalia Library',
 'Neerim South Library',
 'Newcomb Library',
 'Newport Library',
 'Newtown Library',
 'Nhill Library',
 'Niddrie Library',
 'Noojee Library',
 'Northcote Library',
 'North Fitzroy Library',
 'North Melbourne Library',
 'Numurkah Library',
 'Nunawading Library',
 'Oakleigh Library',
 'Ocean Grove Library',
 'Omeo Library',
 'Orbost Library',
 'Pakenham Library',
 'Parkdale Library',
 'Paynesville Library',
 'Phillip Island Library',
 'Phoenix Park Library',
 'Poowong Library',
 'Port Fairy Library',
 'Portland Library',
 'Port Melbourne Library',
 'Prahran Library',
 'Preston Library',
 'Pyramid Hill  Library',
 'Queenscliff Library',
 'Red Cliffs Library',
 'Reservoir Library',
 'Richmond Library',
 'Ringwood Library',
 'Rochester Library',
 'Rosanna Library',
 'Rosebud Library',
 'Rosedale Library',
 'Rowville Library',
 'Rushworth Library',
 'Rutherglen Library',
 'RVIB Library',
 'Sale Library',
 'Sandringham Library',
 'Seaford Shop Library',
 'Sebastopol Library',
 'Seymour Library',
 'Shepparton Library',
 'Somerville Library',
 'South Oakleigh Library',
 'Springvale Library',
 'St Albans Library',
 'Stanhope Library',
 'St Arnaud Library',
 'State Library',
 'Stawell Library',
 'St Kilda Library',
 'Stockland  Library',
 'Stratford Library',
 'Sunbury Library',
 'Sunshine Library',
 'Swan Hill Library',
 'Tallangatta Library',
 'Tatura Library',
 'Terang Library',
 'Broadmeadows Library',
 'The Pines Library',
 'Thomastown Library',
 'Timboon Library',
 'Tongala Library',
 'South Yarra Library',
 'Torquay Library',
 'Traralgon Library',
 'Tullamarine Library',
 'Vermont South Library',
 'Violet Town Library',
 'Vision Australia Library',
 'Wallan Library',
 'Wangaratta Library',
 'Warracknabeal Library',
 'Warragul Library',
 'Warrnambool Library',
 'Watsonia Library',
 'Werribee Library',
 'Werribee CBD Library',
 'Wheelers Hill Library',
 'Williamstown Library',
 'Wodonga Library',
 'Wonthaggi Library',
 'Woodend Library',
 'Yarra Junction Library',
 'Yarram Library',
 'Yarraville Library',
 'Yarrawonga Library',
 'Yea Library']

In [10]:
lib_df['Library Name'] = lib_name_list

In [11]:
kk = lib_df['Phone'].tolist()

In [12]:
pp = []

In [13]:
for each in kk:
    z = each.replace(" ", "")
    pp.append(z)

In [14]:
lib_df['Phone'] = pp

In [15]:
lib_df['Phone']

0        57720349
1        99321330
2        99323020
3        53521722
4        83251990
          ...
257      59671588
258    0351825135
259      96880294
260      57441380
261      57972209
Name: Phone, Length: 262, dtype: object

In [16]:
lib_df[['Phone']] = lib_df[['Phone']].apply(pd.to_numeric)

In [17]:
lp = lib_df['Phone'].tolist()

In [18]:
type(lp[0])

int

In [ ]:
lib_df

In [ ]:
g = input("Enter your name : ") 
print(g)

In [ ]:
lib_df["map"] = ""

In [ ]:
for i in range(len(lib_df)):
    print(lib_df['Library Name'][i])
    g = input("Enter your iframe tag : ")
    lib_df['map'][i] = g

In [19]:
from pandas import ExcelWriter

writer = ExcelWriter('cleaned_lib_file.xlsx')
lib_df.to_excel(writer,'Sheet1')
writer.save()

In [20]:
lib_df

,LAT,LONG,Suburb/Town,Address,Phone,Library Name
0,-37.189614,145.708191,Alexandra,Grant Street Alexandra 3714,57720349,Alexandra Library
1,-37.869153,144.829072,Altona,123 Queen Street Altona 3018,99321330,Altona Library
2,-37.873862,144.772680,Altona Meadows,2 Newham Way Altona Meadows 3025,99323020,Altona Meadows Library
3,-37.289100,142.910940,Ararat,Barkly Street Ararat 3377,53521722,Ararat Library
4,-37.774022,144.915566,Ascot Vale,165 Union Road Ascot Vale 3032,83251990,Ascot Vale Library
...,...,...,...,...,...,...
257,-37.782293,145.611898,Yarra Junction,Hoddle Street Yarra Junction 3797,59671588,Yarra Junction Library
258,-38.564409,146.674540,Yarram,156 Grant Street Yarram 3971,351825135,Yarram Library
259,-37.820448,144.873646,Yarraville,32 Wembley Avenue Yarraville 3013,96880294,Yarraville Library
260,-36.010829,146.004739,Yarrawonga,Belmore Street Yarrawonga Public Library 3730,57441380,Yarrawonga Library
261,-37.213421,145.421917,Yea,Semi-circle Yea 3717,57972209,Yea Library

In [2]:
new_sub_fil_df = pd.read_excel('cleaned_lib_file.xlsx', index_col=0)

In [3]:
new_sub_fil_df

,LAT,LONG,Suburb/Town,Address,Phone,Library Name,Map Directions TAG
0,-37.189614,145.708191,Alexandra,Grant Street Alexandra 3714,57720349,Alexandra Library,"<iframe src=""https://www.google.com/maps/embed..."
1,-37.869153,144.829072,Altona,123 Queen Street Altona 3018,99321330,Altona Library,"<iframe src=""https://www.google.com/maps/embed..."
2,-37.873862,144.772680,Altona Meadows,2 Newham Way Altona Meadows 3025,99323020,Altona Meadows Library,"<iframe src=""https://www.google.com/maps/embed..."
3,-37.289100,142.910940,Ararat,Barkly Street Ararat 3377,53521722,Ararat Library,"<iframe src=""https://www.google.com/maps/embed..."
4,-37.774022,144.915566,Ascot Vale,165 Union Road Ascot Vale 3032,83251990,Ascot Vale Library,"<iframe src=""https://www.google.com/maps/embed..."
...,...,...,...,...,...,...,...
216,-37.927411,145.081975,South Oakleigh,630 Warrigal Road South Oakleigh 3167,1300135668,South Oakleigh Library,"<iframe src=""https://www.google.com/maps/embed..."
217,-37.947316,145.153108,Springvale,411 Springvale Road Springvale 3171,92395398,Springvale Library,"<iframe src=""https://www.google.com/maps/embed..."
223,-37.868000,144.988822,St Kilda,150 Carlisle Street St Kilda 3182,92096655,St Kilda Library,"<iframe src=""https://www.google.com/maps/embed..."
237,-37.838835,144.990424,South Yarra,340 Toorak Road South Yarra 3141,82908000,South Yarra Library,"<iframe src=""https://www.google.com/maps/embed..."
252,-37.907241,145.190587,Wheelers Hill,860 Ferntree Gully Road Wheelers Hill 3150,95616211,Wheelers Hill Library,"<iframe src=""https://www.google.com/maps/embed..."

In [4]:
new_sub_fil_df_1 = new_sub_fil_df.drop(['LAT', 'LONG'], axis=1)

In [5]:
new_sub_fil_df_1

,Suburb/Town,Address,Phone,Library Name,Map Directions TAG
0,Alexandra,Grant Street Alexandra 3714,57720349,Alexandra Library,"<iframe src=""https://www.google.com/maps/embed..."
1,Altona,123 Queen Street Altona 3018,99321330,Altona Library,"<iframe src=""https://www.google.com/maps/embed..."
2,Altona Meadows,2 Newham Way Altona Meadows 3025,99323020,Altona Meadows Library,"<iframe src=""https://www.google.com/maps/embed..."
3,Ararat,Barkly Street Ararat 3377,53521722,Ararat Library,"<iframe src=""https://www.google.com/maps/embed..."
4,Ascot Vale,165 Union Road Ascot Vale 3032,83251990,Ascot Vale Library,"<iframe src=""https://www.google.com/maps/embed..."
...,...,...,...,...,...
216,South Oakleigh,630 Warrigal Road South Oakleigh 3167,1300135668,South Oakleigh Library,"<iframe src=""https://www.google.com/maps/embed..."
217,Springvale,411 Springvale Road Springvale 3171,92395398,Springvale Library,"<iframe src=""https://www.google.com/maps/embed..."
223,St Kilda,150 Carlisle Street St Kilda 3182,92096655,St Kilda Library,"<iframe src=""https://www.google.com/maps/embed..."
237,South Yarra,340 Toorak Road South Yarra 3141,82908000,South Yarra Library,"<iframe src=""https://www.google.com/maps/embed..."
252,Wheelers Hill,860 Ferntree Gully Road Wheelers Hill 3150,95616211,Wheelers Hill Library,"<iframe src=""https://www.google.com/maps/embed..."

In [6]:
new_sub_fil_df_1['Suburb'] = new_sub_fil_df_1['Suburb/Town'].tolist()

In [9]:
new_sub_fil_df_1 = new_sub_fil_df_1.drop(['Suburb'], axis=1)

In [10]:
mpp = new_sub_fil_df_1['Suburb/Town'].tolist()

In [12]:
zx = []
for each in mpp:
    x = each.upper()
    zx.append(x)

In [14]:
new_sub_fil_df_1['Suburb'] = zx

In [16]:
new_sub_fil_df_1 = new_sub_fil_df_1.drop(['Suburb/Town'], axis=1)

In [17]:
new_sub_fil_df_1

,Address,Phone,Library Name,Map Directions TAG,Suburb
0,Grant Street Alexandra 3714,57720349,Alexandra Library,"<iframe src=""https://www.google.com/maps/embed...",ALEXANDRA
1,123 Queen Street Altona 3018,99321330,Altona Library,"<iframe src=""https://www.google.com/maps/embed...",ALTONA
2,2 Newham Way Altona Meadows 3025,99323020,Altona Meadows Library,"<iframe src=""https://www.google.com/maps/embed...",ALTONA MEADOWS
3,Barkly Street Ararat 3377,53521722,Ararat Library,"<iframe src=""https://www.google.com/maps/embed...",ARARAT
4,165 Union Road Ascot Vale 3032,83251990,Ascot Vale Library,"<iframe src=""https://www.google.com/maps/embed...",ASCOT VALE
...,...,...,...,...,...
216,630 Warrigal Road South Oakleigh 3167,1300135668,South Oakleigh Library,"<iframe src=""https://www.google.com/maps/embed...",SOUTH OAKLEIGH
217,411 Springvale Road Springvale 3171,92395398,Springvale Library,"<iframe src=""https://www.google.com/maps/embed...",SPRINGVALE
223,150 Carlisle Street St Kilda 3182,92096655,St Kilda Library,"<iframe src=""https://www.google.com/maps/embed...",ST KILDA
237,340 Toorak Road South Yarra 3141,82908000,South Yarra Library,"<iframe src=""https://www.google.com/maps/embed...",SOUTH YARRA
252,860 Ferntree Gully Road Wheelers Hill 3150,95616211,Wheelers Hill Library,"<iframe src=""https://www.google.com/maps/embed...",WHEELERS HILL

In [18]:
sub_fil_list = ['ASHWOOD','CHADSTONE','CLAYTON','GLEN WAVERLEY','HUGHESDALE','HUNTINGDALE','ARMADALE','GLEN IRIS','KOOYONG','MALVERN','PRAHRAN','SOUTH YARRA','TOORAK','MOUNT WAVERLEY','MULGRAVE','NOTTING HILL','OAKLEIGH','WHEELERS HILL','CLARINDA','CLAYTON SOUTH','BENTLEIGH','CAULFIELD','CARNEGIE','ELSTERNWICK','GLEN HUNTLY','MURRUMBEENA','ORMOND','DANDENONG','KEYSBOROUGH','NOBLE PARK', 'SPRINGVALE']

In [ ]:
#fil_sub_df = sub_SR_df[sub_SR_df.SuburbTown.isin(sub_list)]

In [45]:
age_sub_df = pd.read_excel('age_sub_aus.xls', index_col=0)

In [46]:
age_sub_df['STATE'].unique()

array(['New South Wales', nan, 'TOTAL PERSONS NEW SOUTH WALES',
       'Victoria', 'TOTAL PERSONS VICTORIA', 'Queensland',
       'TOTAL PERSONS QUEENSLAND', 'South Australia',
       'TOTAL PERSONS SOUTH AUSTRALIA', 'Western Australia',
       'TOTAL PERSONS WESTERN AUSTRALIA', 'Tasmania',
       'TOTAL PERSONS TASMANIA', 'Northern Territory',
       'TOTAL PERSONS NORTHERN TERRITORY', 'Australian Capital Territory',
       'TOTAL PERSONS AUSTRALIAN CAPITAL TERRITORY'], dtype=object)

In [47]:
age_sub_df_vic = age_sub_df[age_sub_df['STATE'] == 'Victoria']

In [48]:
age_sub_df_vic.columns

Index(['STATE', 'GCCSA name', 'SA4 name', 'SUBURB-1', 'SA2 code', 'Suburb',
       'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'X(60-64)',
       'Y(65-69)', 'N', 'P', 'O', 'no.', 'no..1'],
      dtype='object')

In [49]:
age_sub_df_vic_1 = age_sub_df_vic.drop(['SA2 code','A','B','C','D','E','F','G','H','J','K','L','M','N','P','O','no.','no..1'], axis=1)

In [51]:
age_sub_df_vic_1['GCCSA name'].unique()

array(['Rest of Vic.', 'Greater Melbourne'], dtype=object)

In [52]:
age_GM_df = age_sub_df_vic_1[age_sub_df_vic_1['GCCSA name'] == 'Greater Melbourne']

In [64]:
age_GM_df[['X(60-64)']] = age_GM_df[['X(60-64)']].astype(int)

In [67]:
age_GM_df[['Y(65-69)']] = age_GM_df[['Y(65-69)']].astype(int)

In [68]:
ddf = age_GM_df['Y(65-69)'].tolist()

In [69]:
type(ddf[0])

int

In [70]:
age_GM_df

,STATE,GCCSA name,SA4 name,SUBURB-1,Suburb,X(60-64),Y(65-69)
Index,,,,,,,
1,Victoria,Greater Melbourne,Melbourne - Inner,Brunswick - Coburg,Brunswick,1021,803
1,Victoria,Greater Melbourne,Melbourne - Inner,Brunswick - Coburg,Brunswick East,381,354
1,Victoria,Greater Melbourne,Melbourne - Inner,Brunswick - Coburg,Brunswick West,619,509
1,Victoria,Greater Melbourne,Melbourne - Inner,Brunswick - Coburg,Coburg,1276,996
1,Victoria,Greater Melbourne,Melbourne - Inner,Brunswick - Coburg,Pascoe Vale South,509,388
...,...,...,...,...,...,...,...
1,Victoria,Greater Melbourne,Mornington Peninsula,Mornington Peninsula,Mount Eliza,1122,1071
1,Victoria,Greater Melbourne,Mornington Peninsula,Mornington Peninsula,Mount Martha,1132,1140
1,Victoria,Greater Melbourne,Mornington Peninsula,Mornington Peninsula,Point Nepean,1397,1641
1,Victoria,Greater Melbourne,Mornington Peninsula,Mornington Peninsula,Rosebud - McCrae,1536,1586
1,Victoria,Greater Melbourne,Mornington Peninsula,Mornington Peninsula,Somerville,1221,985

In [71]:
age_60_lrg_df =  age_GM_df.nlargest(20, ['X(60-64)'])

In [ ]:
age_60_lrg_df

In [75]:
hhgv = age_60_lrg_df['Suburb'].tolist()

In [77]:
hhgv

['Essendon - Aberfeldie',
 'Eltham',
 'Brighton (Vic.)',
 'Mornington',
 'Sunbury - South',
 'Rosebud - McCrae',
 'Kew',
 'Hastings - Somers',
 'Greensborough',
 'Keilor East',
 'Keysborough',
 'Frankston',
 'Richmond (Vic.)',
 'Point Nepean',
 'Dandenong',
 'Langwarrin',
 'Dandenong North',
 'Boronia',
 'Wantirna South',
 'Berwick - North']

In [76]:
hhgv_2 = age_65_lrg_df['Suburb'].tolist()

In [78]:
hhgv_2

['Mornington',
 'Point Nepean',
 'Rosebud - McCrae',
 'Keilor East',
 'Brighton (Vic.)',
 'Eltham',
 'Sunbury - South',
 'Hastings - Somers',
 'Wheelers Hill',
 'Dandenong North',
 'Keysborough',
 'Kew',
 'Frankston',
 'Boronia',
 'Thomastown',
 'Essendon - Aberfeldie',
 'Lalor',
 'Langwarrin',
 'Gladstone Park - Westmeadows',
 'Greensborough']

In [101]:
mh_list = hhgv + hhgv_2

In [102]:
mh_list

['Essendon - Aberfeldie',
 'Eltham',
 'Brighton (Vic.)',
 'Mornington',
 'Sunbury - South',
 'Rosebud - McCrae',
 'Kew',
 'Hastings - Somers',
 'Greensborough',
 'Keilor East',
 'Keysborough',
 'Frankston',
 'Richmond (Vic.)',
 'Point Nepean',
 'Dandenong',
 'Langwarrin',
 'Dandenong North',
 'Boronia',
 'Wantirna South',
 'Berwick - North',
 'Mornington',
 'Point Nepean',
 'Rosebud - McCrae',
 'Keilor East',
 'Brighton (Vic.)',
 'Eltham',
 'Sunbury - South',
 'Hastings - Somers',
 'Wheelers Hill',
 'Dandenong North',
 'Keysborough',
 'Kew',
 'Frankston',
 'Boronia',
 'Thomastown',
 'Essendon - Aberfeldie',
 'Lalor',
 'Langwarrin',
 'Gladstone Park - Westmeadows',
 'Greensborough']

In [103]:
jhg_list = list(set(mh_list))

In [104]:
len(jhg_list)

24

In [79]:
tg = set(hhgv) & set(hhgv_2)

In [82]:
len(list(tg))

16

In [83]:
main_sub_fil_22 = list(tg)

In [73]:
age_65_lrg_df =  age_GM_df.nlargest(20, ['Y(65-69)'])

In [74]:
age_65_lrg_df

,STATE,GCCSA name,SA4 name,SUBURB-1,Suburb,X(60-64),Y(65-69)
Index,,,,,,,
1,Victoria,Greater Melbourne,Mornington Peninsula,Mornington Peninsula,Mornington,1582,1807
1,Victoria,Greater Melbourne,Mornington Peninsula,Mornington Peninsula,Point Nepean,1397,1641
1,Victoria,Greater Melbourne,Mornington Peninsula,Mornington Peninsula,Rosebud - McCrae,1536,1586
1,Victoria,Greater Melbourne,Melbourne - North West,Keilor,Keilor East,1437,1495
1,Victoria,Greater Melbourne,Melbourne - Inner South,Bayside,Brighton (Vic.),1634,1439
1,Victoria,Greater Melbourne,Melbourne - North East,Nillumbik - Kinglake,Eltham,1657,1406
1,Victoria,Greater Melbourne,Melbourne - North West,Sunbury,Sunbury - South,1542,1377
1,Victoria,Greater Melbourne,Mornington Peninsula,Mornington Peninsula,Hastings - Somers,1483,1377
1,Victoria,Greater Melbourne,Melbourne - South East,Monash,Wheelers Hill,1278,1342
1,Victoria,Greater Melbourne,Melbourne - South East,Dandenong,Dandenong North,1333,1297
1,Victoria,Greater Melbourne,Melbourne - South East,Dandenong,Keysborough,1424,1288
1,Victoria,Greater Melbourne,Melbourne - Inner East,Boroondara,Kew,1507,1277
1,Victoria,Greater Melbourne,Mornington Peninsula,Frankston,Frankston,1420,1256
1,Victoria,Greater Melbourne,Melbourne - Outer East,Knox,Boronia,1320,1245
1,Victoria,Greater Melbourne,Melbourne - North East,Whittlesea - Wallan,Thomastown,1169,1208
1,Victoria,Greater Melbourne,Melbourne - Inner,Essendon,Essendon - Aberfeldie,1666,1204
1,Victoria,Greater Melbourne,Melbourne - North East,Whittlesea - Wallan,Lalor,1150,1178
1,Victoria,Greater Melbourne,Mornington Peninsula,Frankston,Langwarrin,1336,1174
1,Victoria,Greater Melbourne,Melbourne - North West,Tullamarine - Broadmeadows,Gladstone Park - Westmeadows,1159,1159
1,Victoria,Greater Melbourne,Melbourne - North East,Banyule,Greensborough,1437,1154

In [54]:
age_GM_df['SA4 name'].unique()

array(['Melbourne - Inner', 'Melbourne - Inner East',
       'Melbourne - Inner South', 'Melbourne - North East',
       'Melbourne - North West', 'Melbourne - Outer East',
       'Melbourne - South East', 'Melbourne - West',
       'Mornington Peninsula'], dtype=object)

In [105]:
jhg_list

['Keysborough',
 'Hastings - Somers',
 'Thomastown',
 'Langwarrin',
 'Richmond (Vic.)',
 'Dandenong',
 'Sunbury - South',
 'Mornington',
 'Eltham',
 'Berwick - North',
 'Boronia',
 'Point Nepean',
 'Wheelers Hill',
 'Wantirna South',
 'Brighton (Vic.)',
 'Dandenong North',
 'Lalor',
 'Greensborough',
 'Keilor East',
 'Rosebud - McCrae',
 'Essendon - Aberfeldie',
 'Gladstone Park - Westmeadows',
 'Kew',
 'Frankston']

In [106]:
jhg_list[1] = 'Hastings'

In [107]:
jhg_list[4] = 'Richmond'

In [108]:
jhg_list[6] = 'Sunbury'

In [109]:
jhg_list[9] = 'Berwick'

In [110]:
jhg_list[14] = 'Brighton'

In [111]:
jhg_list[18] = 'Keilor'

In [112]:
jhg_list[19] = 'Rosebud'

In [113]:
jhg_list[20] = 'Essendon'

In [114]:
jhg_list[21] = 'Gladstone Park'

In [116]:
jhg_list.remove('Dandenong North')

In [117]:
jhg_list

['Keysborough',
 'Hastings',
 'Thomastown',
 'Langwarrin',
 'Richmond',
 'Dandenong',
 'Sunbury',
 'Mornington',
 'Eltham',
 'Berwick',
 'Boronia',
 'Point Nepean',
 'Wheelers Hill',
 'Wantirna South',
 'Brighton',
 'Lalor',
 'Greensborough',
 'Keilor',
 'Rosebud',
 'Essendon',
 'Gladstone Park',
 'Kew',
 'Frankston']

In [118]:
new_all_fil_top_lst = [x.upper() for x in jhg_list]

In [119]:
new_all_fil_top_lst

['KEYSBOROUGH',
 'HASTINGS',
 'THOMASTOWN',
 'LANGWARRIN',
 'RICHMOND',
 'DANDENONG',
 'SUNBURY',
 'MORNINGTON',
 'ELTHAM',
 'BERWICK',
 'BORONIA',
 'POINT NEPEAN',
 'WHEELERS HILL',
 'WANTIRNA SOUTH',
 'BRIGHTON',
 'LALOR',
 'GREENSBOROUGH',
 'KEILOR',
 'ROSEBUD',
 'ESSENDON',
 'GLADSTONE PARK',
 'KEW',
 'FRANKSTON']

In [96]:
#new_all_fil_top_lst[4] = 'DANDENONG'

In [85]:
new_sub_fil_df_1

,Address,Phone,Library Name,Map Directions TAG,Suburb
0,Grant Street Alexandra 3714,57720349,Alexandra Library,"<iframe src=""https://www.google.com/maps/embed...",ALEXANDRA
1,123 Queen Street Altona 3018,99321330,Altona Library,"<iframe src=""https://www.google.com/maps/embed...",ALTONA
2,2 Newham Way Altona Meadows 3025,99323020,Altona Meadows Library,"<iframe src=""https://www.google.com/maps/embed...",ALTONA MEADOWS
3,Barkly Street Ararat 3377,53521722,Ararat Library,"<iframe src=""https://www.google.com/maps/embed...",ARARAT
4,165 Union Road Ascot Vale 3032,83251990,Ascot Vale Library,"<iframe src=""https://www.google.com/maps/embed...",ASCOT VALE
...,...,...,...,...,...
216,630 Warrigal Road South Oakleigh 3167,1300135668,South Oakleigh Library,"<iframe src=""https://www.google.com/maps/embed...",SOUTH OAKLEIGH
217,411 Springvale Road Springvale 3171,92395398,Springvale Library,"<iframe src=""https://www.google.com/maps/embed...",SPRINGVALE
223,150 Carlisle Street St Kilda 3182,92096655,St Kilda Library,"<iframe src=""https://www.google.com/maps/embed...",ST KILDA
237,340 Toorak Road South Yarra 3141,82908000,South Yarra Library,"<iframe src=""https://www.google.com/maps/embed...",SOUTH YARRA
252,860 Ferntree Gully Road Wheelers Hill 3150,95616211,Wheelers Hill Library,"<iframe src=""https://www.google.com/maps/embed...",WHEELERS HILL

In [120]:
Main_fil_clean_df = new_sub_fil_df_1[new_sub_fil_df_1.Suburb.isin(new_all_fil_top_lst)]

In [122]:
Main_fil_clean_df

,Address,Phone,Library Name,Map Directions TAG,Suburb
23,Park Crescent Boronia 3155,97624099,Boronia Library,"<iframe src=""https://www.google.com/maps/embed...",BORONIA
26,14 Wilson Street Brighton 3186,95915900,Brighton Library,"<iframe src=""https://www.google.com/maps/embed...",BRIGHTON
63,Stuart Street Dandenong 3175,92381489,Dandenong Library,"<iframe src=""https://www.google.com/maps/embed...",DANDENONG
79,Panther Place Eltham 3095,94399266,Eltham Library,"<iframe src=""https://www.google.com/maps/embed...",ELTHAM
92,60 Playne Street Frankston 3199,97841020,Frankston Library,"<iframe src=""https://www.google.com/maps/embed...",FRANKSTON
97,Taylor Drive Gladstone Park 3043,93388529,Gladstone Park Library,"<iframe src=""https://www.google.com/maps/embed...",GLADSTONE PARK
107,7 High Street Hastings 3915,59501710,Hastings Library,"<iframe src=""https://www.google.com/maps/embed...",HASTINGS
123,Kennedy Street Keilor 3036,93364191,Keilor Library,"<iframe src=""https://www.google.com/maps/embed...",KEILOR
125,Cotham Road and Civic Drive Kew 3101,92784677,Kew Library,"<iframe src=""https://www.google.com/maps/embed...",KEW
134,2A May Road Lalor 3075,94652353,Lalor Library,"<iframe src=""https://www.google.com/maps/embed...",LALOR
159,Cnr Queen & Vancouver Streets Mornington 3931,59501820,Mornington Library,"<iframe src=""https://www.google.com/maps/embed...",MORNINGTON
252,860 Ferntree Gully Road Wheelers Hill 3150,95616211,Wheelers Hill Library,"<iframe src=""https://www.google.com/maps/embed...",WHEELERS HILL

In [124]:
from pandas import ExcelWriter

writer = ExcelWriter('final_cleaned_file.xlsx')
Main_fil_clean_df.to_excel(writer,'Sheet1')
writer.save()